.App {
  margin-top: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
}

.moments-container>div {
  flex: 0 50%;
  margin-top: 20px;
}

.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: none;
} 

.song-player-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-player-container > img {
  max-height:650px;
}