.App {
  margin-top: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid grey;
  padding: 20px;
  margin-right: 30px;
}

.moments-container > div {
  flex: 0 50%;
  margin-top: 20px;
}

.link {
  color: white;
  text-decoration: none;
}
.logout {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
}
.link:hover {
  color: white;
  text-decoration: none;
}

.song-player-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-player-container > img {
  max-height: 650px;
}
